---
import SiteLayout from "../../layouts/SiteLayout.astro";
import bg from "../../assets/background/bg.webp";
---

<SiteLayout
  title="Archive"
  description="Conference archive for previous years."
>


      <main class="hero-content">
        <center>
          <h1>Archive</h1>
          <h5>Previous Careers in Quantum events</h5>
        </center>
      </main>
    </div>

    <section class="content-section">
      <div class="content-inner">
        <center>
          <a class="btn" href="/archive/2024">CiQ 2024</a>
          <a class="btn" href="/archive/2025">CiQ 2025</a>
        </center>
      </div>
    </section>

    
</SiteLayout>
