---
import SiteLayout from "../layouts/SiteLayout.astro";
import Section from "../components/ui/Section.astro";
import ScrollButton from "../components/ui/ScrollButton.astro";
---
<SiteLayout title="404 Error" description="Page not found.">
  <ScrollButton/>

  <Section
    as="section"
    background="hsl(192, 100%, 15%)"
    padding="4rem 1.5rem"
    maxWidth="900px"
    id="about"
  >
    <h1 style="margin: 0; line-height: 1;">Page not found.</h1>
      <p>
        Sorry, the page you are looking for does not exist. Please check the URL or return to the <a href="/">homepage</a>.
      </p>
  </Section>
  </SiteLayout>