---
import SiteLayout from "../layouts/SiteLayout.astro";
import Section from "../components/ui/Section.astro";
---

<SiteLayout title="Contact" description="Contact page for Careers in Quantum.">
  <Section background="hsl(192, 100%, 15%)" padding="2rem 1.5rem" maxWidth="900px">
    <center>
    <h1>Registration</h1>
    <p>
      Careers in Quantum is a free event, but registration is required.
      <br/><br/>
      A certain amount of funding will be available to reimburse travel expenses, which will be allocated according to need and availability. 
      <br/><br/>
    </div>
  </p>
    <h5>Book your place now via Eventbrite:</h5>
    <a href="" class="btn">Registration</a>
    </center>
  </Section>
</SiteLayout>
